{% extends "gestion/base.html" %}

{% block content %}

  <h2>Instalación: {{ instalacion.nombre }}</h2>

  <p><strong>Mantenimiento</p>
  <p><strong>Fecha mantenimiento:</strong> {{ instalacion.fecha_mantenimiento|date:"d/m/Y"}}</p>
  <p><strong>Próximo mantenimiento:</strong> {{ instalacion.proxima_fecha_mantenimiento|date:"d/m/Y" }}</p>

  <h3>Documentos</h3>
  <ul>
    {% for documento in instalacion.documentos.all %}
      <li>
        {{ documento.get_tipo_documento_display }}:
        <a href="{{ documento.archivo.url }}" target="_blank">Ver</a> |
        <a href="{% url 'editar_documento_instalacion' documento.pk %}">Editar</a> |
        <a href="{% url 'eliminar_documento_instalacion' documento.pk %}">Eliminar</a>
      </li>
    {% empty %}
      <li>No hay documentos aún.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'subir_documento_instalacion' instalacion.pk %}">Subir nuevo documento</a><br><br>
  <a href="{% url 'lista_instalaciones' %}" class="btn btn-secondary">← Volver al listado</a>

{% endblock %}


